.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-item {
  display: flex;
  justify-self: center;
}

.answers-grid {
  display: flex;
  flex-direction: column;
}

.answer-item {
  transition: linear 0.2s;
  background-color: transparent;
  border-radius: 10px;
  margin: 5px;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
}

.answer-item:hover {
  transition: linear 0.2s;
  background-color: thistle;
}

.neutral {
  border: 1px solid thistle;
}

.correct {
  border: 1px solid green;
}

.incorrect {
  border: 1px solid red;
}

.on {
  display: block;
}

.off {
  display: none;
}
